<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diandian.dao.toc.UserMapper">

    <select id="getByUserName" resultType="com.diandian.entity.toc.User">
        select * from user where login_name=#{userName} and is_deleted='N'
    </select>

    <select id="getUserByOpenId" resultType="com.diandian.entity.toc.User">
         select * from user where wx_id=#{openId} and is_deleted='N'
    </select>

    <select id="getOpenIdById" resultType="java.lang.String">
        select wx_id from user where id=#{userId} and is_deleted='N'
    </select>

    <select id="getUserByPhoneNumber" resultType="com.diandian.entity.toc.User">
        select * from user where mobile=#{mobile} and is_deleted='N'
    </select>
</mapper>